  .container {
            display: flex;
            flex-wrap: wrap;
            width: 400px;
	  background-color:rgba(29, 29, 29);
        }

        .square {
            width: 20px;
            height: 20px;
            border: 1px solid black;
            transition: background-color rgb(29,29,29);
        }

        .square:hover {
            background-color: lightblue;
        }